# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
common_algorithms/.vs/common_algorithms/v15/.suo
common_algorithms/.vs/common_algorithms/v15/Browse.VC.db
common_algorithms/.vs/common_algorithms/v15/Browse.VC.opendb
common_algorithms/common_algorithm/common_algorithm.vcxproj.filters
common_algorithms/common_algorithms.sdf
common_algorithms/common_algorithms.v12.suo
